* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color:#947ABE;
  --secondry-color:#7F8487;
  --dark-color:#E5E5E5;
  --semi-light:#ffffff;
}
a:hover {
  text-decoration: none;
}

/* Start Register */
.section-register {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
  z-index: 999;
}
 .section-register .content {
  background-color: var(--primary-color);
  width: 40%;
  height: 100%;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
} 
.section-register .content h1 {
  color: var(--semi-light);
  font-weight: 600;
  text-transform: capitalize;
  margin-top: -30px;
  font-size: 25px;
}
.section-register .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  width: 60%;
}
.section-register .form h2 {
  font-size: 30px;
  margin-right: 300px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1e2944;
}
.section-register .form .form-row input {
  background-color: transparent;
  border: 1px solid var(--secondry-color);
  border-radius: 10px;
}
.section-register .form .input-group {
  margin-top: 20px;
}
.section-register .form .input-group input {
  border-radius: 0px 10px 10px 0px;
  padding: 20px 20px;
  background-color: transparent;
  border: 1px solid var(--secondry-color);
}
.section-register .form .input-group span {
  background-color: transparent;
  color: var(--secondry-color);
  border: 1px solid var(--secondry-color);
  border-radius: 10px 0px 0px 10px;
}
.section-register .form .form-group input {
  border-radius: 20px;
  padding: 20px 20px;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid var(--secondry-color);
}
.section-register .form .custom-select {
  border-radius: 10px;
  padding-left: 20px;
  padding-top: -20px;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid var(--secondry-color);
}
.section-register .form .custom-select option {
  color: #7F8487;
}
.section-register .form button {
  text-transform: capitalize;
  background-color: #947ABE;
  color: #ffffff;
  border-radius: 10px;
}
.section-register .form h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--secondry-color);
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0px;
}
.section-register .form .links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.section-register .form .links .link1 {
  border: 1px solid var(--secondry-color);
  padding: 5px 5px;
  border-radius: 10px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.section-register .form .links .link1 img {
  width: 30px;
}
.section-register .form .links .link1 span {
  font-size: 15px;
  color: var(--secondry-color);
  text-transform: capitalize;
  font-weight: 700;
}
.section-register .form .heading {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 10px 10px;
}
.section-register .form .heading h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: #7F8487;
}
.section-register .form .heading a h5 {
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  color: #1e2944;
  margin-left: 5px;
}

/* End  Register */
/* Start Login , pass */
.section-login {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--dark-color);
}
.section-login .content {
  background-color: var(--primary-color);
  width: 40%;
  height: 200%;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.section-login .content h1 {
  color: var(--semi-light);
  font-weight: 600;
  text-transform: capitalize;
  margin-top: -30px;
  font-size: 25px;
}
.section-login .content h2 {
  color: var(--semi-light);
  font-weight: 600;
  text-transform: capitalize;
  margin-top: -10px;
  font-size: 25px;
}
.section-login .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 60%;
}
.section-login .login h2 {
  text-transform: capitalize;
  color: #1e2944;
  font-weight: 600;
  padding: 40px 0px;
}
.section-login .login .input-group input {
  border-radius: 0px 10px 10px 0px;
  padding: 20px 20px;
  width: 350px;
  background-color: transparent;
  border: 1px solid var(--secondry-color);
}
.section-login .login .input-group span {
  background-color: transparent;
  color: var(--secondry-color);
  background-color: transparent;
  border: 1px solid var(--secondry-color);
  border-radius: 10px 0px 0px 10px;
}
.section-login .login .form-group input {
  border-radius: 10px;
  padding: 20px 20px;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid var(--secondry-color);
}
.section-login .login h3 {
  font-size: 13px;
  color: var(--secondry-color);
  font-weight: 600;
  text-transform: capitalize;
  float: right;
}
.section-login .login button {
  text-transform: capitalize;
  background-color: #947ABE;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 40px;
}
.section-login .login h4 {
  text-align: center;
  text-transform: uppercase;
  color: var(--secondry-color);
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0px;
}
.section-login .login p {
  margin-left: -200px;
  width: 200px;
  color: var(--secondry-color);
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
}
.section-login .login .links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.section-login .login .links .link1 {
  border: 1px solid var(--secondry-color);
  padding: 5px 5px;
  border-radius: 10px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.section-login .login .links .link1 img {
  width: 30px;
}
.section-login .login .links .link1 span {
  font-size: 15px;
  color: var(--secondry-color);
  text-transform: capitalize;
  font-weight: 700;
}
.section-login .login .heading {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 10px 10px;
}
.section-login .login .heading h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: #7F8487;
}
.section-login .login .heading a h5 {
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  color: #1e2944;
  margin-left: 5px;
}
.section-login .login .back {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 40px 0px;
}
.section-login .login .back img {
  width: 25px;
  -o-object-position: center;
     object-position: center;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.section-login .login .back span {
  font-size: 17px;
  color: #1e2944;
}

/* eng login , pass */
/* Start code */
.section-login .login h6 {
  margin-left: -150px;
  color: #1e2944;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 30px;
  padding: 0px;
}

.section-login .login2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 60%;
}
.section-login .login2 .js-timer {
  padding: 20px 0px 0px 0px;
  color: #7F8487;
  font-size: 14px;
}
.section-login .login2 h6 {
  text-align: center;
  color: #1e2944;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 30px;
  padding: 0px;
}

.form-control::-webkit-outer-spin-button,
.form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-login .login2 .form-row .form-group {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.section-login .login2 .form-row .form-group input {
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
  background-color: transparent;
  border: 2px solid var(--secondry-color);
  width: 60px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  color: #1e2944;
}

.section-login .heading2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 10px 0px 0px 0px;
}
.section-login .heading2 h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: #7F8487;
  padding: 20px 0px;
}
.section-login .heading2 a h5 {
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  color: #1e2944;
  margin-left: 5px;
}

.section-login .back2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.section-login .back2 img {
  width: 25px;
  -o-object-position: center;
     object-position: center;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.section-login .back2 span {
  font-size: 17px;
  color: #1e2944;
}/*# sourceMappingURL=style.css.map */